<div class="container p-4">
    <div class="row">
        {{#each mascotas}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div calss="card-body">
                        <h3>
                            {{ciudad}}
                        </h3>
                        <p>{{ timeago fecha_creacion }}</p>
                        <a href="/links/mascotas/borrar/{{id_mascota}}" class="btn btn-danger">Borrar mascota</a>
                        <a href="/links/mascotas/editar/{{id_mascota}}" class="btn btn-secondary">Editar mascota</a>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay mascotas registradas para su usuario</p>
                    <a href="/links/mascotas/anadir">¿Deseas registrar una mascota?</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>